.servico{
    text-align: center;
    padding: 1rem 0;
}
.servico h3{
    color: var(--cor-texto);
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 6px;
}



.servico__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 4.4rem;
}
.servico__cards--item{
    background-color: var(--bg);
    padding: 60px 35px;
    margin: 1.2rem 0;
    cursor: pointer;
    transition: all .40s;
}
.servico__cards--item i{
    color: var(--cor-principal);
    font-size: 3rem;
    margin-bottom: 20px;
}

.servico__cards--item h3{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--cor-texto);
}
.servico__cards--item p{
    font-size: 18px;
    color: var(--cor-secundario);
    line-height: 30px;
}
.servico__cards--item:hover{
    transform: translateX(-15px);
    box-shadow: 0px 5px 10px 0px rgba(24, 66, 237, 0.411);
}


@media screen and (max-width: 800px){
    .servico__cards--item p{
        font-size: 1rem;
    }

    .servico__cards--item:hover{
        transform: translateX(-15px);
        box-shadow: 0px 5px 10px 0px rgba(24, 66, 237, 0.411);
    }
}